*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Product Sans;
}

html,body{
    width: 100%;
    height: 100%;
    /* background-color: #eee; */
}
nav{
    height:60px ;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    
}
nav>#left{
    width: 50%;
    height: 50px;
    padding-left: 100px; 
    display: flex;
    position: relative;
    align-items: center; 
    justify-content: space-between;
}
nav>#left>img{
    width: 60px;
    margin-top: 5px;
    
    
}
nav>#right{
    
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding-right: 100px;
    align-items: center;
   /* background-color: lawngreen;*/
}
nav>#right>#first{
    width:80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav>#right>#first a{
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
nav>#right>#first a:hover{
    border-bottom: 2px solid black;
}

nav>#right>#first select{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding:5px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}
nav>#right>button{
    width: 150px;
    height: 35px;
    padding: 5px;
    border-radius: 4px;
    background-color: #F5E3A8;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
nav>#right>button:hover{
    background-color: black;
    color: #F5E3A8;
}
section{
    /* width: 100%;
    height: 450px; */
     /*background-color: aqua; */
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    /* margin-top: 100px; */
    
    
}
section>#dashLeft{
    width: 60%;
    /* height: 450px; */
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    align-items: center;
}

section>#dashLeft>#imgcontainer{
    width: 95%;
    /* height: 450px; */
    /*background-color: lawngreen;*/
    overflow: hidden;
    border-radius: 5px;
    right: 0;
    margin-left: 100px;
}
section>#dashLeft>#imgcontainer>img{
    width: 100%;
    /* height: 450px; */
    
}

section>#dashRight{
    width: 40%;
    /* height: 350px; */
   /* background-color: lightcoral;*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section>#dashRight>#textContainer{
    width: 80%;
    /* height: 350px; */
   /* background-color: lawngreen;*/
    overflow: hidden;
    border-radius: 5px;
    right: 0;
    padding:40px;

}
section>#dashRight>#textContainer>h4{
    font-size: 35px;
    font-weight: bolder;
    line-height: 40px;
}
section>#dashRight>#textContainer>p{
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
}
section>#dashRight>#textContainer>img{
    margin-top: 40px;
}

#sec2{
    width: 100%;
    /* height: 550px; */
    background-color:rgba(240, 240, 240, 0.753);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    padding: 40px 0px;
    
}
#sec2>#mainCont{
    width: 80%;
    /* height: 550px; */
    /* background-color: indianred; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* border: .5px solid gray; */
    
}
#sec2>#mainCont>#firstCont{
    width: 100%;
    height: 30%;
    /* background-color: lawngreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
#sec2>#mainCont>#firstCont>h3{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;

}
#sec2>#mainCont>#firstCont>p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    line-height: 30px;
}

#sec2>#mainCont>#secondCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    /* background-color: rosybrown; */
    /* padding: 40px; */
}

#sec2>#mainCont>#secondCont>.imgFill{
    width:32%;
    /* height: 90%; */
    /* background-color: rgb(211, 22, 22); */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#sec2>#mainCont>#secondCont>.imgFill>img{
   width: 100%;
    /* height:220px; */
    /* border-radius: 10px; */
}
#sec2>#mainCont>#secondCont>.imgFill>.smtext{
    padding: 30px 0px !important;
}
#sec2>#mainCont>#secondCont>.imgFill>.smtext>p{
    margin-top: 10px;
    text-align: start;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
}
#sec2>#mainCont>#secondCont>.imgFill>.smtext>h5{
    text-align: start;
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
    
}
.sec3{
    background-color:#fff  !important;
    margin-top: 0%;
    /* margin-bottom: 100px; */
   
}
.sec3>#mainCont>#firstCont{
    height:20% !important;

}
.sec3>#mainCont>#firstCont>h3{
    margin-bottom: 20px;
}
.sec3>#mainCont>#secondCont>.imgFill{
    background-color: rgba(240, 240, 240, 0.767);
    width:32%;
    /* height: 90%; */
    /* background-color: rgb(211, 22, 22); */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sec3>#mainCont>#secondCont>.imgFill>.smtext>h5{
    text-align: start !important;
}
.sec3>#mainCont>#secondCont>.imgFill>.smtext{
   margin-left: 40px;
}
.sec4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 0px; 
   
}
.sec4>.sec4Cont{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.sec4>.sec4Cont>.top{
    width: 100%;
    height: 25%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    
}
.sec4>.sec4Cont>.top>.left{
    width: 50%;
    height: 100%;
}
.sec4>.sec4Cont>.top>.left>h3{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}
.sec4>.sec4Cont>.top>.left>p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
}
.sec4>.sec4Cont>.top>.right{
    width: 50%;
    /* height: 100%; */
    position: relative;
}
.sec4>.sec4Cont>.top>.right>h2{
    right: -5px !important;
    position: absolute;
    font-size: 50px;
    color: #FFE59B;
    letter-spacing: 6px;
}
.sec4>.sec4Cont>.top>.right>img{
    right:0 !important;
    position: absolute;
    margin-top: 70px;
    width: 25px;
    height: 25px;
}

.sec4>.sec4Cont>.bottom{
   
    /* background-color: royalblue; */
    margin-top: 20px;
}
.sec4>.sec4Cont>.bottom{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec4>.sec4Cont>.bottom>.firstBtm{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sec4>.sec4Cont>.bottom>.firstBtm>.topBtm{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
.sec4>.sec4Cont>.bottom>.firstBtm>.topBtm>.leftBtm{
    width: 39.5%;
    height: auto;
    position: relative;
}
.sec4>.sec4Cont>.bottom>.firstBtm>.topBtm>.leftBtm>img{
    width: 100%;
    height: 210px;
    
    
}
.sec4>.sec4Cont>.bottom>.firstBtm>.topBtm>.leftBtm>p{
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: 4px;
    width: 150px;
    height: 35px;
    padding: 7px 17px;
    font-weight: bold;
}
.sec4>.sec4Cont>.bottom>.firstBtm>.topBtm>.rightBtm{
    width: 59.5%;
    height: auto;
    position: relative;
}
.sec4>.sec4Cont>.bottom>.firstBtm>.topBtm>.rightBtm>img{
    width: 100%;
    height: 210px;
}
.sec4>.sec4Cont>.bottom>.firstBtm>.topBtm>.rightBtm>p{
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: 4px;
    width: 150px;
    height: 35px;
    padding: 7px 17px;
    font-weight: bold;
}
.sec4>.sec4Cont>.bottom>.firstBtm>.bottomBtm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec4>.sec4Cont>.bottom>.firstBtm>.bottomBtm>.leftBtm{
    width: 59.5%;
    height: auto;
    position: relative;
}
.sec4>.sec4Cont>.bottom>.firstBtm>.bottomBtm>.leftBtm>img{
    width: 100%;
    height: 210px;
}
.sec4>.sec4Cont>.bottom>.firstBtm>.bottomBtm>.leftBtm>p{
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: 4px;
    width: 150px;
    height: 35px;
    padding: 7px 17px;
    font-weight: bold;
}
.sec4>.sec4Cont>.bottom>.firstBtm>.bottomBtm>.rightBtm{
    width: 39.5%;
    height: auto;
    position: relative;
}
.sec4>.sec4Cont>.bottom>.firstBtm>.bottomBtm>.rightBtm>img{
    width: 100%;
    height: 210px;
}
.sec4>.sec4Cont>.bottom>.firstBtm>.bottomBtm>.rightBtm>p{
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: 4px;
    width: 150px;
    height: 35px;
    padding: 7px 17px;
    font-weight: bold;
}
.sec4>.sec4Cont>.bottom>.secondBtm{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sec4>.sec4Cont>.bottom>.secondBtm>.secondCont{
    display: flex;
    flex-direction: column;
    position: relative;
}
.sec4>.sec4Cont>.bottom>.secondBtm>.secondCont>img{
    width: 100%;
    height: 428px;
}
.sec4>.sec4Cont>.bottom>.secondBtm>.secondCont>p{
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: 0px;
    width: 150px;
    height: 35px;
    padding: 7px 17px;
    font-weight: bold; 
}

/*---------------*/

.sec4>.sec4Cont>.bottom>.thirdBtm{
    width: 39.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sec4>.sec4Cont>.bottom>.thirdBtm>.topBtm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec4>.sec4Cont>.bottom>.thirdBtm>.topBtm>.leftBtm{
    width: 39.5%;
    height: auto;
    position: relative;
}
.sec4>.sec4Cont>.bottom>.thirdBtm>.topBtm>.leftBtm>img{
    width: 100%;
    height: 210px;
    
}
.sec4>.sec4Cont>.bottom>.thirdBtm>.topBtm>.leftBtm>p{
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: 4px;
    width: 150px;
    height: 35px;
    padding: 7px 17px;
    font-weight: bold;
}
.sec4>.sec4Cont>.bottom>.thirdBtm>.topBtm>.rightBtm{
    width: 59.5%;
    height: auto;
    position: relative;
}
.sec4>.sec4Cont>.bottom>.thirdBtm>.topBtm>.rightBtm>img{
    width: 100%;
    height: 210px;
}
.sec4>.sec4Cont>.bottom>.thirdBtm>.topBtm>.rightBtm>p{
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: 4px;
    width: 150px;
    height: 35px;
    padding: 7px 17px;
    font-weight: bold;
}
.sec4>.sec4Cont>.bottom>.thirdBtm>.bottomBtm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec4>.sec4Cont>.bottom>.thirdBtm>.bottomBtm>.leftBtm{
    width: 59.5%;
    height: auto;
    position: relative;
}
.sec4>.sec4Cont>.bottom>.thirdBtm>.bottomBtm>.leftBtm>img{
    width: 100%;
    height: 210px;
}
.sec4>.sec4Cont>.bottom>.thirdBtm>.bottomBtm>.leftBtm>p{
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: 4px;
    width: 150px;
    height: 35px;
    padding: 7px 17px;
    font-weight: bold;
}
.sec4>.sec4Cont>.bottom>.thirdBtm>.bottomBtm>.rightBtm{
    width: 39.5%;
    height: auto;
    position: relative;
}
.sec4>.sec4Cont>.bottom>.thirdBtm>.bottomBtm>.rightBtm>img{
    width: 100%;
    height: 210px;
}
.sec4>.sec4Cont>.bottom>.thirdBtm>.bottomBtm>.rightBtm>p{
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: 4px;
    width: 150px;
    height: 35px;
    padding: 7px 17px;
    font-weight: bold;
}
.sec5{
    
    /* height: 500px; */
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.sec5>.sec5Cont{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec5>.sec5Cont>.left{
    width: 50%;
    padding: 43px;
    background-color: rgba(221, 221, 221, 0.377);
    
}
.sec5>.sec5Cont>.right{
    width: 50%;
    object-fit: cover;
    
    /* background-color: gray; */
    
    
    
}
.sec5>.sec5Cont>.right>img{
    width: 100%;
    height: 510px;
    
}

.sec5>.sec5Cont>.left>h3{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 50px;
    
}
.sec5>.sec5Cont>.left>p{
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 40px;

}
.sec5>.sec5Cont>.left>li{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 35px;
}
.sec6{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec6>.sec6Cont{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec6>.sec6Cont>.top{
    width: 100%;
    height: 30%;
    margin-bottom: 25px;
    /* background-color: indianred; */
    display: flex;
    justify-content: space-between;
}
.sec6>.sec6Cont>.top>.left{
    width: 50%;
}
.sec6>.sec6Cont>.top>.left>h1{
    font-size: 60px;
    font-weight: bolder !important;
    letter-spacing: 15px;
    color: #FFE59B;
    
}
.sec6>.sec6Cont>.top>.right{
    display: flex;
    align-items: center;
}
.sec6>.sec6Cont>.top>.right>h5{
    font-size: 35px;
}
.sec6>.sec6Cont>.bottom{
    height: 70%;
}

.sec6>.sec6Cont>.bottom{
    width:100%;
    height: 450px;
    background-image: url('./images/people-office-group-team.png');
    background-position: center;
    object-fit: contain;
    position: relative;
}
.sec6>.sec6Cont>.bottom>.cover{
    width: 100%;
    height: 450px;
    background-color: rgba(70, 70, 70, 0.774);
    z-index: 9999;
    position: absolute;
    top: 0;
}
.sec6>.sec6Cont>.bottom>.allCont{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec6>.sec6Cont>.bottom>.allCont>img{
    width: 100px;
    height: 100px;
    position:absolute;
    top:70px;
    z-index: 9999999;
}
.sec6>.sec6Cont>.bottom>.allCont>p{
    position: absolute;
    z-index: 99999;
    top: 220px;
    color: #fff;
    width: 750px;
    text-align: center;
}
.sec6>.sec6Cont>.bottom>.allCont>.nameCont{
    width:30%;
    height:70px;
    background-image: url(./images/apartment-architecture-carpet-584399.svg);
    background-position: center;
    position: relative;
    z-index: 9999999;
    top:350px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec6>.sec6Cont>.bottom>.allCont>.nameCont img{
    width: 35px;
}
.sec6>.sec6Cont>.bottom>.allCont>.nameCont h3{
    font-weight: 400;
}
.sec7{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   
}
.sec7>.left{
    width: 50%;
    background-image: linear-gradient(to right,#F7F7F7,#EEEEEE);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec7>.left>.top{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec7>.left>.top>h4{
    color: #E6E6E6;
    font-size: 45px;
    font-weight: bolder;
}
.sec7>.left>.top>h1{
    color: #E6E6E6;
    font-size: 45px;
    font-weight: bolder;
}
.sec7>.left>.top>img{
   margin-top: -15px;
}
.sec7>.left>.bottom{
    width: 100%;
    height: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.sec7>.left>.bottom>img{
   position: absolute;
   top: 20px;
}
.sec7>.right{
    width: 50%;
    background-image: linear-gradient(to right,#F7F7F7,#EEEEEE);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec7>.right>.top{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec7>.right>.top>h4{
    color: #E6E6E6;
    font-size: 45px;
    font-weight: bolder;
}
.sec7>.right>.top>h1{
    color: #E6E6E6;
    font-size: 45px;
    font-weight: bolder;
}
.sec7>.right>.top>img{
   margin-top: -15px;
}
.sec7>.right>.bottom{
    width: 100%;
    height: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.sec7>.right>.bottom>img{
   position: absolute;
   top: 20px;
}

.sec8{
    width: 100%;
    height: 600px;
    padding: 0px;
    margin-top: 0px;
    background-image: url('./images/apartment-architecture-bright-day-1024248.png');
    background-position: center;
    object-fit:contain;
}
.sec8>.cover{
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.493);
    position: relative;
    display: flex;
}
.sec8>.cover>.left{
    width: 50%;
    padding: 40px 100px;
    /* background-color: coral; */
}
.sec8>.cover>.left h1{
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    color: #fff;
}
.sec8>.cover>.left>h2{
    margin-top: 90px;
    color: #fff;
    font-size: 30px;
}
.sec8>.cover>.left .line{
    height: 3px;
    width: 80px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 5px;
}
.sec8>.cover>.left .userNumbers{
    width: 250px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.sec8>.cover>.left .userNumbers h5{
    padding: 13px;
    font-size: 20px;
    background-color: #fff;
}
.sec8>.cover>.left p{
    color: #fff;
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}
.sec8>.cover>.left h3{
    margin-top: 60px;
    color: #fff;
    font-size: 30px;
}
.sec8>.cover>.left h4{
    width: 250px;
    margin-top: 10px;
    color: #000;
    background-color: #fff;
    padding: 15px 20px;
    text-align: center;
    font-size: 20px;
}
.sec8>.cover>.right{
    width: 50%;
    padding: 40px 0px;
    padding-right: 150px;

}
.sec8>.cover>.right>h2{
    color: #fff;
    font-size: 35px;
}
.sec8>.cover>.right>.line{
    height: 3px;
    width: 80px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 5px;
}
.sec8>.cover>.right>p{
    margin-top: 20px;
    color: #fff;
    width: 550px;
    font-weight: 500;
    line-height: 30px;
}
#contact{
    margin-top: 80px;
}
.sec8>.cover>.right>h4{
    color: #fff;
    line-height: 35px;
    width: 400px;
    font-weight: 450;
}


@media only screen and (max-width: 900px){
    nav{
        height: 60px;
        background-color:#fff;
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-top: 20px;
     }
    nav #left{
        width: 85%;
        padding: 0px;
    }
    nav #right{
        display: none;
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section>#dashLeft{
        width: 95%;
    }
    section>#dashLeft>#imgcontainer{ 
        margin-left: 0px;
    }
    section>#dashRight{
        width: 100%;
    }
    #sec2>#mainCont>#secondCont{
        flex-direction: column;
    }
    #sec2>#mainCont>#secondCont>.imgFill{
        margin-top: 20px;
        width: 100%;
    }
    #sec2>#mainCont>#secondCont>.imgFill>.smtext>h5{
        text-align: center !important;
    }
    #sec2>#mainCont>#secondCont>.imgFill>.smtext>p{
        text-align: center;
    }
    .sec4>.sec4Cont{
        width: 100%;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    }
    .sec4>.sec4Cont>.top{
        width: 100%;
        /* height: 25%; */
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .sec4>.sec4Cont>.top>.left{
        text-align: center;
        width: 100%;
    }
    .sec4>.sec4Cont>.top>.left>p{
        width: 100%;
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }
    .sec4>.sec4Cont>.top>.right{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .sec4>.sec4Cont>.top>.right>img{
        margin-top: 70px;
    width: 25px;
    height: 25px;
    margin: 20px 0;
    position: relative;
    }
    .sec4>.sec4Cont>.top>.right>h2 {
        /* right: -5px !important; */
        position: relative;
        font-size: 50px;
        color: #FFE59B;
        letter-spacing: 6px;
        margin-top: 30px;
        
    }
    .sec4>.sec4Cont>.bottom {
        width: 100%;
        height: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .sec4>.sec4Cont>.bottom>.firstBtm {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .sec4>.sec4Cont>.bottom>.secondBtm>.secondCont {
        display: none;
        
    }
    .sec4>.sec4Cont>.bottom>.thirdBtm {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .sec5>.sec5Cont {
        width: 100%;
        flex-direction: column;
        
    }
    .sec5>.sec5Cont>.left {
        width: 100%; 
        text-align: start;
    }
    .sec5>.sec5Cont>.right {
        width: 100%;
    }
    .sec5>.sec5Cont>.left>li {
        margin-left: 35px;
    }
    .sec5>.sec5Cont>.right>img {
        /* width: 100%; */
        object-fit: cover;
        /* height: 510px; */
    }
    .sec6{
        margin-top: 50px;
    }
    .sec6>.sec6Cont {
        width: 100%;
        
    }
    .sec6>.sec6Cont>.top {
        flex-direction: column;
    }
    .sec6>.sec6Cont>.top>.left>h1 {
        font-size: 45px;
        font-weight: bolder !important;
        letter-spacing: 4px;
        color: #FFE59B;
        text-align: center;
    }
    .sec6>.sec6Cont>.top>.left {
        width: 100%;

    }
    .sec6>.sec6Cont>.top>.right>h5 {
        font-size: 25px;
        text-align: center;
        margin-top: 15px;
    }
    .sec6>.sec6Cont>.top>.right {
        display:inline;
       
    }
    .sec6>.sec6Cont>.bottom>.allCont>.nameCont {
        width: 100%;
        left: 0px;
        align-items: center;
    }
    .sec6>.sec6Cont>.bottom>.allCont>p {
        position: absolute;
        z-index: 99999;
        top: 220px;
        left: 0%;
        color: #fff;
        width: 100%;
        text-align: center;
    }
    .sec7{
        margin-top: 0px;
    }
    .sec7>.left {
        width: 100%;
        
        flex-direction: column;
        
        align-items: center;
    }
    .sec7>.left>.top {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec7>.left>.bottom>img {
        width: 100%;
    }
    .sec7>.left>.bottom {
        height: 500px; 
    }
    .sec7>.right {
        width: 100%;
        /* margin-top: 20px; */
        flex-direction: column;
        
        align-items: center;
    }
    .sec7>.right>.top {
        
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec7>.right>.bottom>img {
        width: 100%;
    }
    .sec7>.right>.bottom {
        height: 500px; 
    }
    .sec8{
        margin-top: 20px;
        height: auto;
    }
    .sec8>.cover {
        
        flex-direction: column;
    }
    .sec8>.cover>.left {
        width: 100%;
        padding: 30px;
    }
    .sec8>.cover>.left h1 {
        font-size: 30px;
        line-height: 40px;
        
    }
    .sec8>.cover>.left>h2 {
        margin-top: 40px;
    }
    .sec8>.cover>.left h4 {
        width: 250px;
        margin-top: 10px;
        color: #000;
        background-color: #fff;
        padding: 10px 8px;
        text-align: center;
        font-size: 15p;
    }
    .sec8>.cover>.left h3 {
        margin-top: 30px;
        color: #fff;
        font-size: 30px;
    }
    .sec8>.cover>.right {
        width: 100%;
       padding: 40px;
    }
    .sec8>.cover>.right>p {
        width: auto;
    }
    .sec8>.cover>.right>h4 {
       
        width: auto;
        
    }
}